{% extends 'catalog/dop.html' %}

{% block content %}
{% load tags %}
<div class="row text-center">
    <div class="col-3">
        <div class="card-body">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">
                        {{ blog.title }}
                    </h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">{{ object.ispublished }}</h1>
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <h4 class="my-0 font-weight-normal">Название: {{ blog.title }}</h4>
                        <li>Содержимое: {{ object.body|slice:':100' }}</li>
                        <li>Количество просмотров: {{ object.view_count }}</li>
                        <li>Дата создания: {{ object.create_date }}</li>
                        <img class="card-img-top"
                            src="{{ object.image|media }}"
                            alt="Card image cap">
                    </ul>
                    <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'blog:bloglist' %}">Назад</a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}