{% extends 'catalog/dop.html' %}

{% block content %}
{% for object in object_list %}
{% load tags %}
<div class="row text-center">
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ object.price }}р</h1>

                <button type="button" class="btn btn-lg btn-block btn-outline-primary" href="{% url 'catalog:one' object.pk%}">Купить</button>
                <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'catalog:one' object.pk %}">Подробнее</a>
<!--                <button type="button" class="btn btn-lg btn-block btn-outline-primary">Подробнее</button>-->
            </div>
        </div>
    </div>
</div>
    {% endfor %}
{% endblock %}